body {
  font-family: sans-serif;
}

iframe {
  /* it's container should be styled/sized */
  width: 100%;
  height: 100%;
}

.editor_toolbar {
}

.editor_toolbar .button {
  display: block;
  float: left;
  margin: 1px 1px 1px 0;
  padding: .1em .25em .1em .25em;
  background-color: #ccc;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #aaa;
  text-decoration: none;
  text-transform: capitalize;
}

.editor_toolbar .button:hover {
  background-color: #aaa;
  border-color: #555;
}

.editor_toolbar .selected {
  color: red !important;
}

.clear {
  overflow: hidden;
}

#log {
  padding-bottom: 1em;
  border-bottom: 2px solid #000;
  margin-bottom: 2em;
}

.logsummary {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1ex;
  border: 1px solid #000;
  font-weight: bold;
}

.logtable {
  width:100%;
  border-collapse: collapse;
  border: 1px dotted #666;
}

.logtable td, .logtable th {
  text-align: left;
  padding: 3px 8px;
  border: 1px dotted #666;
}

.logtable .passed {
  background-color: #cfc;
}

.logtable .failed, .logtable .error {
  background-color: #fcc;
}

.logtable td div.action_buttons {
  display: inline;
}

.logtable td div.action_buttons input {
  margin: 0 5px;
  font-size: 10px;
}


